extends layout

block pageStyle
  link(rel='stylesheet', href='/stylesheets/index.css')


block pageScript
  script(type='text/javascript', src='/javascripts/cube-3.0.0.js')
  script(type='text/javascript', src='/javascripts/main.js')


block pageContent
  nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
    a.navbar-brand.col-md-11.col-lg-11.mr-0.px-3.navbar-account(href='')=account.name
    ul.navbar-nav
      li.nav-item
        img(src=account.face, width='32', height='32')
    ul.navbar-nav.px-3
      li.nav-item.text-nowrap
        a.nav-link(href='#') 退出登录
  
  div.container-fluid
    div.row
      nav#sidebarMenu.col-md-1.col-lg-1.d-md-block.bg-dark.sidebar.collapse
        div.sidebar-sticky.pt-3
          ul.nav.flex-column
            li.nav-item
              a.nav-link.active
                svg.bi.sidebar-icon(fill='currentColor', width='24', height='24')
                  use(xlink:href='/images/bootstrap-icons.svg#chat-left-text')
                div.sidebar-label 消息

      nav#catalogue.col-md-2.col-lg-2.catalogue
        div.catalogue-col
          - each ca in catalogues
            div.catalogue-cell(id=ca.id)
              div.catalogue-thumb
                img(src=ca.thumb)
              div.catalogue-label=ca.label

      main#main.col-md-9.col-lg-9.ml-sm-auto.px-md-4
        div 内容
