extends layout

block pageStyle
  link(rel='stylesheet', href='/stylesheets/main.css')


block pageScript
  script(type='text/javascript', src='/javascripts/cube-3.0.0.js')
  script(type='text/javascript', src='/javascripts/utils.js')
  script(type='text/javascript', src='/javascripts/ui-message.js')
  script(type='text/javascript', src='/javascripts/main.js')
  script.
    var gAccount = !{JSON.stringify(account)};
    var gContacts = !{JSON.stringify(contacts)};
    var gCatalogues = !{JSON.stringify(catalogues)};


block pageContent
  div.wrapper
    //- Navbar
    nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
      //- Left navbar links
      ul.navbar-nav
        li.nav-item
          a.nav-link(data-widget='pushmenu', href='javascript:;', role='button')
            i.fas.fa-bars
        li.nav-item.d-none.d-sm-inline-block
          a.nav-link(href='https://www.shixincube.com/', target='_blank') 时信魔方
      //- Right navbar links
      ul.navbar-nav.ml-auto
        //- Notifications Dropdown Menu
        li.nav-item.dropdown
          a.nav-link(data-toggle='dropdown' href='javascript:;')
            i.far.fa-bell
            span.badge.badge-warning.navbar-badge
        li.nav-item
          a.nav-link(data-widget='control-sidebar', data-slide='true', href='javascript:;', role='button')
            i.fas.fa-th-large

    //- Main Sidebar Container
    aside.main-sidebar.sidebar-dark-primary.elevation-4
      //- Brand Logo
      a.brand-link(href='https://www.shixincube.com/', target='_blank')
        img.brand-image.img-circle.elevation-3(src='/images/cube_256.png', alt='Cube Logo', style='opacity:.8')
        span.brand-text.font-weight-bold Cube 3.0
      //- Sidebar
      div.sidebar
        //- Sidebar user panel
        div.user-panel.mt-3.pb-3.mb-3.d-flex
          div.image
            img.img-round-rect.elevation-2(src=account.avatar, alt='Avatar')
          div.info
            a.d-block(href='javascript:;')=account.name
          div.opt
            span.right.badge.badge-info
              a(href='javascript:app.logout();') 退出登录

        //- Sidebar Menu
        nav.mt-2
          ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
            li.nav-item
              a.nav-link.active(href='javascript:;')
                i.nav-icon.fas.fa-comments
                p 消息
                  span.right.badge.badge-danger

    //- Content Wrapper. Contains page content
    div.content-wrapper
      section.content
        div.container-fluid
          div.row
            div.col-md-3
              //- Main catalog
              div.card.main-catalog
                div.card-body.catalog
                  ul.products-list.product-list-in-card
                    - var i = 0
                    - each item in catalogues
                      li.item.pl-2.pr-2(id='catalog_item_' + (i++), data=item.id)
                        div.product-img
                          img.img-size-50.img-round-rect(src=item.thumb)
                        div.product-info
                          span.product-title=item.label
                            span.badge.badge-light.float-right --:--
                          span.product-description=item.sublabel

            div.col-md-9
              //- Main Content
              div#messages.card.direct-chat.direct-chat-primary.main-content
                div.card-header
                  h3.card-title 消息
                  div.card-tools
                    button.btn.btn-tool(type='button')
                      i.fas.fa-info-circle
                div.card-body.card-background
                  //- div.direct-chat-messages
                    //- div.direct-chat-msg
                    //-   div.direct-chat-infos.clearfix
                    //-     span.direct-chat-name.float-left Ambrose Xu
                    //-     span.direct-chat-timestamp.float-right 23 Jan 2:00 pm
                    //-   img.direct-chat-img(src='/images/avatar03.png')
                    //-   div.direct-chat-text 这是 Cube App 界面

                    //- div.direct-chat-msg.right
                    //-   div.direct-chat-infos.clearfix
                    //-     span.direct-chat-name.float-right Sun Dengling
                    //-     span.direct-chat-timestamp.float-left 23 Jan 2:05 pm
                    //-   img.direct-chat-img(src='/images/avatar05.png')
                    //-   div.direct-chat-text 界面力求简洁，结构简单。
                div.card-footer
                  div
                    div.input-group
                      textarea.form-control(rows='2', placeholder='请在此输入消息', disabled='disabled')
                      span.input-group-append
                        button#btn_send.btn.btn-primary(type='button', disabled='disabled') 发送

      //- Confirm modal
      div#modal_confirm.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              h4.modal-title Default Modal
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            div.modal-body
              p &hellip;
            div.modal-footer.justify-content-between
              button.btn.btn-secondary(type='button', data-dismiss='modal', onclick='javascript:ui.fireConfirm(false);') 取消
              button.btn.btn-primary(type='button', data-dismiss='modal', onclick='javascript:ui.fireConfirm(true);') 确定

    aside.control-sidebar.control-sidebar-dark
      div.p-3
        h5 时信魔方
        p

    //- Footer
    footer.main-footer
      span Copyright &copy; 2017-2020 ShiXin Cube. All rights reserved.
      div.float-right.d-none.d-sm-inline-block
        b Version 3.0

    