extends layout

block pageStyle
  link(rel='stylesheet', href='/stylesheets/main.css')


block pageScript
  script(type='text/javascript', src='/javascripts/cube.js')
  script(type='text/javascript', src='/javascripts/utils.js')
  script(type='text/javascript', src='/javascripts/ui-message.js')
  script(type='text/javascript', src='/javascripts/main.js')
  script.
    var gAccount = !{JSON.stringify(account)};
    var gContacts = !{JSON.stringify(contacts)};


block pageContent
  div.wrapper
    //- Navbar
    nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
      //- Left navbar links
      ul.navbar-nav
        li.nav-item
          a.nav-link(data-widget='pushmenu', href='javascript:;', role='button')
            i.fas.fa-bars
        li.nav-item.d-none.d-sm-inline-block
          a.nav-link(href='https://www.shixincube.com/', target='_blank') 时信魔方
      //- Right navbar links
      ul.navbar-nav.ml-auto
        //- Notifications Dropdown Menu
        //- li.nav-item.dropdown
        //-   a.nav-link(data-toggle='dropdown' href='javascript:;')
        //-     i.far.fa-bell
        //-     span.badge.badge-warning.navbar-badge
        li.nav-item
          a.nav-link(data-widget='control-sidebar', data-slide='true', href='javascript:;', role='button')
            i.fas.fa-th-large

    //- Main Sidebar Container
    aside.main-sidebar.sidebar-dark-primary.elevation-4
      //- Brand Logo
      a.brand-link(href='https://www.shixincube.com/', target='_blank')
        img.brand-image.img-circle.elevation-3(src='/images/cube_256.png', alt='Cube Logo', style='opacity:.8')
        span.brand-text.font-weight-bold Cube 3.0
      //- Sidebar
      div.sidebar
        //- Sidebar account panel
        div.user-panel.account-panel.mt-3.pb-3.mb-3.d-flex
          div.image
            img.img-round-rect.elevation-2(src=account.avatar, alt='Avatar')
          div.info
            a.d-block(href='javascript:;')=account.name
          div.opt
            span.right.badge.badge-info
              a(href='javascript:app.logout();') 退出登录

        //- Sidebar Menu
        nav.mt-2
          ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
            li.nav-item
              a.nav-link.active(href='javascript:;')
                i.nav-icon.fas.fa-comments
                p 消息
                  span.right.badge.badge-danger

    //- Content Wrapper. Contains page content
    div.content-wrapper
      section.content
        div.container-fluid
          div.row
            div.col-md-3
              //- Main catalog
              div.card.main-catalog
                div.card-body.catalog
                  ul#catalogue.products-list.product-list-in-card

            div.col-md-9
              //- Main Content
              div#messages.card.direct-chat.direct-chat-primary.main-content.card-background
                div.card-header
                  h3.card-title 消息
                  div.card-tools
                    button#new_group.btn.btn-tool(type='button')
                      i.fas.fa-user-plus
                    button#details.btn.btn-tool(type='button')
                      i.fas.fa-info-circle
                div.card-body
                div.card-footer
                  div
                    div.input-group.mb-2
                      button#btn_send_file.btn.btn-sm.btn-shortcut.btn-default(type='button',data-toggle='tooltip',data-placement='bottom',title='发送文件',disabled='disabled')
                        i.fas.fa-file
                      button#btn_video.btn.btn-sm.btn-shortcut.btn-default(type='button',data-toggle='tooltip',data-placement='bottom',title='视频通话',disabled='disabled')
                        i.fas.fa-video
                      button#btn_voice.btn.btn-sm.btn-shortcut.btn-default(type='button',data-toggle='tooltip',data-placement='bottom',title='语音通话',disabled='disabled')
                        i.fas.fa-phone
                    div.input-group
                      textarea.form-control(rows='2', placeholder='请在此输入消息', disabled='disabled')
                      span.input-group-append
                        button#btn_send.btn.btn-default(type='button', disabled='disabled') 发送

      //- Select file
      div.select-file
        label(for='select_file')
        input#select_file(type='file', name='select_file', accept='*.*')

      //- Contact details
      div#modal_contact_details.modal.fade
        div.modal-dialog
          div.modal-content
            div.card.card-widget.widget-user.details-card
              div.widget-user-header.bg-info
                h3.widget-user-username Ambrose
                h5.widget-user-desc 100001
              div.widget-user-image
                img.img-circle.elevation-2.user-avatar(src='images/cube_256.png')
              div.card-footer
                div.row
                  div.col-sm-4.border-right
                    div.description-block
                      h5.description-header.user-state 离线
                      span.description-text 状态
                  div.col-sm-4.border-right
                    div.description-block
                      h5.description-header.user-region 北京
                      span.description-text 地区
                  div.col-sm-4
                    div.description-block
                      h5.description-header.user-department 技术部
                      span.description-text 部门

      //- Group details
      div#modal_group_details.modal.fade
        div.modal-dialog.modal-lg
          div.modal-content
            div.card.card-widget.widget-user.details-card
              div.widget-user-header.text-white(style='background: url("/images/bg01.png") center center;')
                h3.widget-user-username.text-right 群组
                div.operation
                  div.input-group
                      button.btn.btn-info.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown') &nbsp;&nbsp;更多操作&nbsp;&nbsp;
                        div.dropdown-menu.dropdown-menu-left
                          a#group_details_modify.dropdown-item.btn-xs.dropdown-item-xs(href='javascript:void(0);', data='0')
                            i.fas.fa-pen-square
                            span 修改群组信息
                          div.dropdown-divider
                          a#group_details_add.dropdown-item.btn-xs.dropdown-item-xs(href='javascript:void(0);', data='0')
                            i.fas.fa-plus-circle
                            span 添加群成员
                          div.dropdown-divider
                          a#group_details_quit.dropdown-item.btn-xs.dropdown-item-xs(href='javascript:void(0);', data='0')
                            i.fas.fa-minus-circle
                            span 退出群组
                          a#group_details_dissolve.dropdown-item.btn-xs.dropdown-item-xs(href='javascript:void(0);', data='0')
                            i.fas.fa-user-times
                            span 解散群组
              div.widget-user-image
                img.img-circle.elevation-2.user-avatar(src='images/group-avatar.png')
              div.card-footer
                table.table.table-striped
                  thead
                    tr
                      th(style='width:1%') #
                      th() 头像
                      th() 昵称
                      th() 账号
                      th() 地区
                      th() 部门
                      th() 操作

      //- New group Dialog
      div#new_group_dialog.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              h4.modal-title 新建群组
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            div.modal-body
              div.input-group.mb-3
                div.input-group-prepend
                  span.input-group-text 群组名称
                input#new_group_input_name.form-control(type='text', placeholder='请在此输入群组名称')
              div.form-group
                label 选择群组成员
                div.row
                  - each item,i in contacts
                    div.col-6
                      div.form-group
                        div.custom-control.custom-checkbox.select-group-member
                          input.custom-control-input(type='checkbox', id='group_member_' + i, data=item.id)
                          label.custom-control-label(for='group_member_' + i)
                            img(src=item.avatar)
                            span=item.name
            div.modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') 关闭
              button#new_group_submit.btn.btn-primary(type='button') 确定

      //- Contact list
      div#contact_list_dialog.modal.fade
        div.modal-dialog.modal-lg
          div.modal-content
            div.modal-header
              h5.modal-title 联系人列表
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            div.modal-body
              table.table.table-striped
                  thead
                    tr
                      th() #
                      th() 头像
                      th() 昵称
                      th() 账号
                      th() 地区
                      th() 部门
                  tbody
                    - each item,i in contacts
                      tr
                        td
                          div.custom-control.custom-checkbox
                            input.custom-control-input(type='checkbox', id='list_contact_' + item.id)
                            label.custom-control-label(for='list_contact_' + item.id)
                        td
                          img.table-avatar(src=item.avatar)
                        td=item.name
                        td=item.id
                        td=item.region
                        td=item.department
            div.modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') 关闭
              button#contact_list_submit.btn.btn-primary(type='button') 确定

      //- Prompt modal
      div#modal_prompt.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              h5.modal-title 提示
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            div.modal-body
              div.form-group
                label.prompt-label 输入框
                input.form-control.prompt-input(type='text')
            div.modal-footer.justify-content-between
              button.btn.btn-secondary(type='button', data-dismiss='modal', onclick='javascript:ui.firePrompt(false);') 取消
              button.btn.btn-primary(type='button', data-dismiss='modal', onclick='javascript:ui.firePrompt(true);') 确定
      //- Confirm modal
      div#modal_confirm.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              h5.modal-title 提示
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            div.modal-body
              p &hellip;
            div.modal-footer.justify-content-between
              button.btn.btn-secondary(type='button', data-dismiss='modal', onclick='javascript:ui.fireConfirm(false);') 取消
              button.btn.btn-primary(type='button', data-dismiss='modal', onclick='javascript:ui.fireConfirm(true);') 确定
      //- Alert modal
      div#modal_alert.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              h5.modal-title 提示
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            div.modal-body
              p &hellip;
            div.modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal', onclick='javascript:ui.fireAlert();') 确定
      //- Loading modal
      div#modal_loading.modal.fade
        div.modal-dialog
          div.modal-content
            div.overlay.d-flex.justify-content-center.align-items-center.loading-overlay
              i.fas.fa-2x.fa-sync.fa-spin
            div.modal-header
              span.modal-title 正在处理
            div.modal-body
              p &nbsp;
            div.modal-footer
              p.modal-elapsed
                span.modal-elapsed-tip 用时：
                span.modal-elapsed-time

    //- aside.control-sidebar.control-sidebar-dark
    //-   div.p-3
    //-     h5 时信魔方
    //-     p

    //- Footer
    footer.main-footer
      span Copyright &copy; 2017-2020 ShiXin Cube. All rights reserved.
      div.float-right.d-none.d-sm-inline-block
        b Version 3.0

    